.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #426ec5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(122, 70, 70);
}

.App-link {
  color: #0c4757;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex nav{
  background-color: aqua;
  border: #0c4757;
}

flex container
.flex-nav ul {
  border: 0px solid blue;
  list-style: inside;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media all and (max-width:1000px) {
  .flex-nav ul li{
    width: 50%;
  }
  .flex-nav .social{
    width: auto;
  }
}
.App{
  height: auto;
}